/*Responsive corrections*/
@media only screen and (orientation: landscape){
  .adj4{
    width: 10%;
  }
  .firstelement{
    top: -7%; 
    left: -33px; 
    background-color: white; 
    padding-top: 3%; 
    padding-bottom: 1.5%;
  }
}

@media only screen and (orientation: portrait){
  .adj1{
    margin-top: -25%;
  }
  .adj2{
    margin-bottom: 10%;
  } 
  .adj3{
    display: flex;
    justify-content: space-between;
  }
  .adj4{
    margin-left: 5%;
    width: 20%;
  }
  .firstelement{
    top: -4%; 
    left: -33px; 
    background-color: white; 
    padding-top: 4%; 
    padding-bottom: 1.5%;
  }
}

.stack-top{
  z-index: 9;
  margin: 20px; /* for demo purpose  */
}