/*Responsive corrections*/
@media only screen and (orientation: landscape){
  .adj4{
    width: 10%;
  }
  .firstelement{
    top: -8%; 
    left: -33px; 
    background-color: white; 
    padding-top: 3%; 
    padding-bottom: 1.5%;
  }
  .centralelement{
    top: -5%; 
    left: -33px; 
    background-color: white; 
    padding-top: 2%; 
    padding-bottom: 2%;
  }
  .finalelement{
    top: -5%; 
    left: -33px; 
    background-color: white; 
    padding-top: 2%; 
    padding-bottom: 52%;
  }
  .displayMobile{
    display: none;
  }
}

@media only screen and (orientation: portrait){
  .adj1{
    margin-top: -25%;
  }
  .adj2{
    margin-bottom: 10%;
  } 
  .adj3{
    display: flex;
    justify-content: space-between;
  }
  .adj4{
    margin-left: 5%;
    width: 20%;
  }
  .firstelement{
    top: -4%; 
    left: -33px; 
    background-color: white; 
    padding-top: 4%; 
    padding-bottom: 1.5%;
  }
  .centralelement{
    top: -1%; 
    left: -33px; 
    background-color: white; 
    padding-top: 2%; 
    padding-bottom: 2%;
  }
  .finalelement{
    top: -1%; 
    left: -33px; 
    background-color: white; 
    padding-top: 2%; 
    padding-bottom: 85%;
  }
  .displayPc{
    display: none;
  }
}